@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato;
  color: #7777;
}

#menu {
  font-size: 110%;
  list-style-type: none;
  letter-spacing: 4px;
  padding-top: 30px;
}

#menu a {
  text-decoration: none;
  color: #040C17;
}

#menu a:hover {
  border-bottom: 1px solid #777777;
  color: inherit;
}

#active {
  border-bottom: 1px solid #777777;
}

#hero-image {
  height: 950px;
  width: 100%;
  background: url(../image/hero-image.jpg) center;
  background-repeat: no-repeat;
  margin-top: 30px;
}

#logo {
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: inherit;
  padding-top: 350px;
  text-align: center;
}

#model {
  text-align: center;
  padding-top: 30px;
}

/* Buttons */
.btn-red {
  border-radius: 1em;
  font-weight: bold;
  font-size: 2em !important;
  color: white !important;
  background-color: #f05f40;
  border-color: #f05f40;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red:active:focus {
  background-color: #9090B6;
  border-color: #9090B6;
}

#about-h2 {
  font-weight: bold !important;
}

.card-img-top {
  height: 450px;
  width: 100%;
}

#music {
  background: linear-gradient(180deg, rgba(0, 43, 16, 1) 0%, rgba(0, 27, 10, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

#music-title {
  background-color: #002b10 !important
}

.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 190%;
  margin: 1%;
  padding: 2%;
  color: #7777;
}

.iframe-container {
  overflow: hidden !important;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
}

/*h2*/
.h2-design {
  background-color: black;
  text-align: center !important;
  color: white;
  margin-bottom: 0 !important;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-weight: bold !important;
}

/*About Section*/
.about-showcase .about-showcase-text {
  padding: 3rem;
}

.about-showcase .about-showcase-img {
  min-height: 30rem;
  background-size: cover;
}

.contact {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 15%, rgba(0, 27, 10, 1) 75%, rgba(0, 43, 16, 1) 100%);
}

form {
  color: white;
}

@media (min-width: 768px) {
  .about-showcase .about-showcase-text {
    padding: 7rem
  }
}

@media (max-width: 450px) {
  #logo h1 {
    font-size: 50px;
  }
}
